body {
  max-width: 320px;
  margin: auto;
  background-image: url(../img/background-body.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #FF84C0;
  padding-top: 105px;
}

img {
  display: block;
  max-width: 100%;
}

.picture-streetjamfestival {
  margin: 30px 0;
}

h1 {
  position: absolute;
  width: 300px;
  padding-left: 7px;
  top: 2px;
  margin: 0;
  padding-top: 15px;
  animation: fade-in-down 2s ease;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  margin: 10px 15px 0 15px;
  padding-bottom: 20px;
}

h2 {
  font-family: 'Sigmar', cursive;
  font-size: 50px;
  margin: 25px 0;
  line-height: 50px;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.menu {
  color: #FF84C0;
}

.menu a {
  color: #FF84C0;
  font-size: 25px;
}

.menu a:hover {
  color: #FFFCF5;
  background-color: #FF84C0;
}

hr {
  border: 0.5px solid #FF84C0;
}

a {
  font-family: 'Quicksand', sans-serif;
}

.streetjamfestival {
  color: #7B9CD9;
}

.tags-graffiti-streetart {
  color: #808778;
}

h3 {
  font-family: 'Sigmar', cursive;
  font-size: 25px;
  margin: 10px 0;
  line-height: 40px;
}

.skate {
  color: #FF84C0;
}

.musique {
  color: #7B9CD9;
}

.street-food {
  color: #808778;
}

.contact {
  color: #FF84C0;
}

.logo-white {
  max-width: 30%;
  padding-bottom: 5px;
}

footer {
  color:#FFFCF5;
  background-color: #808778;
  font-size: 12px;
  padding: 30px 15px;
}

footer a {
  color: #FFFCF5;
  text-decoration: none;
  line-height: 20px;
  font-size: 15px;
}

.rights {
  font-size: 9px;
}

.container {
  flex-wrap: wrap;
}

.container-music {
  background-image: url(../img/m-music.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.planning {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hours {
  font-size: 35px;
  width: 50%;
}

.planning p {
  width: 50%;
  font-size: 14px;
}